

.coin-logo{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    max-width: 100%;
    height: auto;
    margin-right: 10px;
    width: 36px;
    height: 36px;
    min-width: 36px;

}



.coin-name{
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    overflow-wrap: break-word;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    padding-right: 10px;
}

.coin-symbol-badge{
    font-size: 0.35em;
    background-color: #707A8A!important;
    position: relative;
    top: -5px;
}

.form-select{
    margin-top: 30px;
    color: white;
    background-color:rgb(7 65 128);
    text-align: center;

}

.BrainhubCarousel__arrows .BrainhubCarousel__arrows:hover ,.BrainhubCarousel__arrows:hover:enabled,  .BrainhubCarousel__arrows:hover:enabled{
    background-color:rgb(7 65 128);
}
.BrainhubCarousel__arrows:hover:enabled {
    background-color: black;
}

.big-price-container{
    color: white;
    display: flex;
    align-items: center;
    height: 10vw;
    flex-wrap: wrap;
    flex-direction: row;
}

.social-media{
    display: none;
}

.big-price-number{
    font-size: 5vw;
    font-weight: 600;
}

.big-price-currency{
    font-size: 20px;
    margin-left: 10px;
}
.calculator-container{
    margin: 20px;
    text-align: center;
    background: #f39c12;
    padding: 20px;
    color: black;
    border: 1px solid white;
    box-shadow: 0 7px 8px -5px lightblue;
    height: 100%;
    }

.stat-card-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:white;
    background-color:  #121212;
    border: solid 1px #232119;
}

.chart-container{
    overflow: scroll;
    margin-bottom: 50px;

}


.stat-card-header{
    background-color: #444;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.stat-card{
    margin: 10px auto;
    border-color: #f39c12 !important;
}

.stat-card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.hr{
    width:50%;
    color: white;
}

@media (min-width: 992px){
    .social-media{
        display: block;
        margin: auto;
        font-size: larger;
        
    }
}


@media only screen and (min-width: 767px) {



    .coin-logo{
    width: 48px;
    height: 48px;
    min-width: 48px;
    margin-right: 17px;
    }

    .coin-name{
        font-size: 40px;
        font-weight: 600;
        line-height: 48px;
        max-width: calc(100% - 72px);
        padding-right: 7px;
    }

    .coin-symbol-badge{
       
        font-size: 0.35em;
    }

    .form-select{
        margin-top: 10px;
    }

    .stat-card-container{
        margin-top: 30px;
    }
 
}

.blue{
    background-color: aqua;
}
.pink{
    background-color: pink;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}



